<div class="detail-container">
  <img  class="card-img-top" src="{{product.url}}" alt="Photo of a product">
  <div class="detail-item">
    <h1>
      {{ product.name}}
    </h1>
    <p>
      ${{product.price}}
    </p>
    <p>
      {{product.description}}
    </p>
   
    <select class="select-input form-select"  [(ngModel)]="product.amount">
      <option *ngFor="let item of AmountArr" [ngValue]="item">
        {{item }}</option>
    </select>
    <br>
    <input class="btn btn-primary select-input" type="button" value="Add To Cart" (click)="AddToCart(product)"/>
    <br>
    <button class="btn back-link " type="button" value="Back To Product List" (click)="LoadProductList()">Back To Product List</button>
  </div>
</div>